@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 300px;
  }
}

.banner {
  background-image: url("https://source.unsplash.com/random/1280x960");
  padding: 4em;
  color: white;
  text-align: center;
}

.banner h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  font-style: italic;
  opacity: 0.8;
  line-height: 1px;
}

.container {
  width: 500px;
  margin: 50px auto;
  padding: 1em;
}

.container h2 {
  font-family: 'Lato', sans-serif;
  color: #A0A0A0;
}

.container p {
  font-family: 'Lato', sans-serif;
  line-height: 25px;
}

.container a {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  text-decoration: none;
  color: #777777;
  background-color: #fcb8ae;
}

a:hover {
  background-color: #FAC05E;
  text-decoration: none;
  transition: 1s;
}
